@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body {
  background-image: linear-gradient(
    to bottom,
    #0d1117 0%,
    #0d1117 50%,   /* primeira cor até a metade */
    #006aff 50%,   /* segunda cor começa aqui */
    #006aff 100%
  );
  height: 100vh;
}

.navBar{
  display: flex;
}

#dev{
  color: white;
  font-size: xx-large;
  margin-inline-start: 3em;
}

.barra{
  color: white;
  font-size: larger;
  display: flex;
  margin-left: 50em;
}

#home{
  padding: 1em;
}

#sobre{
  padding: 1em;
}

#Projetos{
  padding: 1em;
}

#Habilidades{
  padding: 1em;  
}

#Contato{
  padding: 1em;
}