*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(73, 57, 57);
    width: 100%;
}

.headerNav{
    /* background-color: rgb(32, 32, 32); */
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15%;
}

.headerNav a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: rgb(71, 71, 71);
    padding: 15px 30px;
    border-radius: 8px;
    transition: 0.3s;
    display: inline-block;
}

.headerNav a:hover{
    background-color: rgb(110, 110, 110);
    transform: scale(1.05);
}

.homeTittle {
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    color: white;
}

.cmd {
  width: 300px;
  height: 200px;
  background-color: #444;
  border: 2px solid #888;
  border-radius: 10px;
}