body {
  background-image: linear-gradient(
    to bottom,
    #030712 0%,
    #030712 50%,
    #374151 50%,
    #374151 100%
  );
}

/* NavBar */
.navBar{
    width: 100%;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    margin-top: 0.5rem;
    color: white;
}

#dev a{
    text-decoration: none;
    color: white;
    font-size: 5vh;
}

/* dev a {3vh} */

.barra {
    display: flex;
    gap: 1rem;
    flex-flow: row nowrap;
    color: white;
}

.barra a {
    text-decoration: none;
    color: white;
    font-size: 2.5vh;
    transition: 0.3s;
    display: inline-block;
    line-height: 2;
    padding-inline: 0.5em;
}

.barra a:hover {
    background-color: rgba(255, 255, 255, 0.096);
    border-radius: 10px;
}

#l_dBtn {
    border: 0;
    background: 0;
    cursor: pointer;
    transition: 0.3s;
}

#l_dBtn:hover {
    background-color: rgba(255, 255, 255, 0.096);
    border-radius: 10px;
}

/* Conteudo da pagina de comeco */
.homeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3.7rem;
    gap: 20rem;
}

.homeText {
    color: white;
}


.homeText h1 {
    font-size: 3rem;
}

.homeText p {
    max-width: 30rem;
    font-size: larger;
}

.homeInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.myPlace, .disponibilidade {
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-content: flex-start;
}

.circleHome {
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#minhaPFP {
    width: 27rem;
}

@media (max-width: 1475px){
    #dev a {
        font-size: 4vh;
    }

    .barra a {
        font-size: 2vh;
    }

    .homeText h1 {
        font-size: 2rem;
    }

    #minhaPFP {
    width: 20rem;
    }

}

@media (max-width: 1135px){
    #dev a {
        font-size: 3vh;
    }

    .barra a {
        font-size: 1.5vh;
    }

    .homeText h1 {
        font-size: 1.5rem;
    }

    #minhaPFP {
    width: 17rem;
    }

}

@media (max-width: 985px){
    #dev a {
        font-size: 3vh;
    }

    .barra a {
        font-size: 1.5vh;
    }

    .homeText h1 {
        font-size: 1.3rem;
    }

    .homeText p {
        font-size: small;
    }

    #minhaPFP {
    width: 17rem;
    }

}

@media (max-width: 985px){
    #dev a {
        font-size: 3vh;
    }

    .barra a {
        font-size: 1.5vh;
    }

    .homeText h1 {
        font-size: 1.3rem;
    }

    .homeText p {
        font-size: small;
    }

    #minhaPFP {
    width: 17rem;
    }

}

body {
  background-image: linear-gradient(
    to bottom,
    #030712 0%,
    #030712 50%,
    #374151 50%,
    #374151 100%
  );
}

#about {
    padding: 10rem;
}

.aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#aboutImage {
    width: 30%;
}

.aboutText {
    color: white;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.aboutText h2 {
    font-size: xx-large;
}

.aboutText p {
    max-width: 600px;
    font-size: large;
}