/* body {
  background-image: linear-gradient(
    to bottom,
    #030712 0%,
    #030712 25%,
    #374151 25%,
    #374151 50%,
    #030712 50%,
    #030712 75%,
    #374151 75%,
    #374151 100%
  );
} */
body {
  background: none;
}

#home, #projetos {
    background-color: #030712;
}

#contact, #about {
    background-color: #374151;
}


/* NavBar */
.navBar{
    width: 100%;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    margin-top: 0.5rem;
    color: white;
}

#dev a{
    text-decoration: none;
    color: white;
    font-size: 5vh;
}

/* dev a {3vh} */

.barra {
    display: flex;
    gap: 1rem;
    flex-flow: row nowrap;
    color: white;
}

.barra a {
    text-decoration: none;
    color: white;
    font-size: 2.5vh;
    transition: 0.3s;
    display: inline-block;
    line-height: 2;
    padding-inline: 0.5em;
}

.barra a:hover {
    background-color: rgba(255, 255, 255, 0.096);
    border-radius: 10px;
}

#l_dBtn {
    border: 0;
    background: 0;
    cursor: pointer;
    transition: 0.3s;
}

#l_dBtn:hover {
    background-color: rgba(255, 255, 255, 0.096);
    border-radius: 10px;
}

/* Conteudo da pagina de comeco */
.homeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3.7rem;
    gap: 20rem;
}

.homeText {
    color: white;
}


.homeText h1 {
    font-size: 3rem;
}

.homeText p {
    max-width: 30rem;
    font-size: larger;
}

.homeInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.myPlace, .disponibilidade {
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-content: flex-start;
}

.circleHome {
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#minhaPFP {
    width: 27rem;
}

@media (max-width: 1475px){
    #dev a {
        font-size: 4vh;
    }

    .barra a {
        font-size: 2vh;
    }

    .homeText h1 {
        font-size: 2rem;
    }

    #minhaPFP {
    width: 20rem;
    }

}

@media (max-width: 1135px){
    #dev a {
        font-size: 3vh;
    }

    .barra a {
        font-size: 1.5vh;
    }

    .homeText h1 {
        font-size: 1.5rem;
    }

    #minhaPFP {
    width: 17rem;
    }

}

@media (max-width: 985px){
    #dev a {
        font-size: 3vh;
    }

    .barra a {
        font-size: 1.5vh;
    }

    .homeText h1 {
        font-size: 1.3rem;
    }

    .homeText p {
        font-size: small;
    }

    #minhaPFP {
    width: 17rem;
    }

}

@media (max-width: 985px){
    #dev a {
        font-size: 3vh;
    }

    .barra a {
        font-size: 1.5vh;
    }

    .homeText h1 {
        font-size: 1.3rem;
    }

    .homeText p {
        font-size: small;
    }

    #minhaPFP {
    width: 17rem;
    }

}

body {
  background-image: linear-gradient(
    to bottom,
    #030712 0%,
    #030712 50%,
    #374151 50%,
    #374151 100%
  );
}

#about {
    padding: 10rem;
}

.aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#aboutImage {
    width: 30%;
}

.aboutText {
    color: white;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.aboutText h2 {
    font-size: xx-large;
}

.aboutText p {
    max-width: 600px;
    font-size: large;
}

.slider {
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;   
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img {
  width: 800px;
}

.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: white;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

.navigation-auto div {
  border: 2px solid cyan;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: white;
}

.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-tittle h2{
    font-weight: 600;
    color: #030712;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-tittle hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #030712;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: 2px solid #030712;
}

.contact-inputs::placeholder {
    color: #a9a9a9;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(270deg,#242f41,#030712);
    cursor: pointer;
}

.contact-left button img {
    height: 15px;
}

.contact-right {
    width: 500px;
}

@media (max-width:800px) {
    .contact-inputs {
        width: 80vw;
    }

    .contact-right {
        display: none;
    }
}