* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Outfit';
    background: linear-gradient(#ffdad5, #fff7f9);
}

#skills{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.skills-container{
    width: 80%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    place-items: center;
    gap: 10px;
    background-color: #374151;
    border-radius: 15px;
    /* padding-inline-start: 3rem; */
}

.skills-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: solid 1.5px white;
    width: 150px;
    height: 200px;
    border-radius: 15px;
}

.skills-card img{
    width: 100px;
    height: 100px;
}

.skills-card p{
    font-size: 600;
    font-family: 'Franklin Gothic Medium';
}